#FallbackResource /index.php

RewriteEngine on

#RewriteRule ^/([a-zA-Z0-9\-]+)([0-9]+)$ index.php?action=article&slug=$2
RewriteRule ^login$ index.php?action=login
RewriteRule ^creer-article$ index.php?action=creer-article
#RewriteRule ^add-post$ index.php?action=add-post
RewriteRule ^logout$ index.php?action=logout
RewriteRule ^modifier-article/([0-9]+)$ index.php?action=modifier-article&id=$1
#RewriteRule ^update-post/([0-9]+)$ index.php?action=update-post&id=$1



#RewriteRule ^article/([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([a-z0-9\-]+)$ index.php?action=article&slug=$1

RewriteRule ^liste-articles$ index.php?action=liste-articles
RewriteRule ^liste-articles/page-([0-9]+)$ index.php?action=liste-articles&page=$1
RewriteRule ^gerer-commentaires/page-([0-9]+)$ index.php?action=gerer-commentaires&page=$1

#RewriteRule ^$ index.php?action=liste-articles&page=0





