#FallbackResource /index.php

RewriteEngine on

#RewriteRule ^/([a-zA-Z0-9\-]+)([0-9]+)$ index.php?action=article&slug=$2

RewriteRule ^article/([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([a-z0-9\-]+)$ index.php?action=article&slug=$1

RewriteRule ^liste-articles$ index.php?action=liste-articles
RewriteRule ^liste-articles/page-([0-9]+)$ index.php?action=liste-articles&page=$1
#RewriteRule ^$ index.php?action=liste-articles&page=0

#RewriteRule ^login$ index.php?action=login
#RewriteRule ^gerer-commentaires$ index.php?action=gerer-commentaires


