#FallbackResource /index.php

RewriteEngine on

RewriteRule ^login$ index.php?action=login
RewriteRule ^creer-article$ index.php?action=creer-article

RewriteRule ^about$ index.php?action=about
RewriteRule ^logout$ index.php?action=logout
#RewriteRule ^404$ index.php?action=404
#RewriteRule ^404$ ./view/frontend/404

RewriteRule ^modifier-article/([0-9]+)$ index.php?action=modifier-article&id=$1

#RewriteRule ^article/([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([0-9]+)/(.*)$ index.php?action=article&id=$1&slug=$2
RewriteRule ^([a-z0-9\-]+)$ index.php?action=article&slug=$1

RewriteRule ^liste-articles$ index.php?action=liste-articles
#RewriteRule ^liste-articles$ index.php?action=liste-articles&page=0
RewriteRule ^liste-articles/page-([0-9]+)$ index.php?action=liste-articles&page=$1
RewriteRule ^gerer-commentaires/page-([0-9]+)$ index.php?action=gerer-commentaires&page=$1
RewriteRule ^gerer-commentaires$ index.php?action=gerer-commentaires&page=0
RewriteRule ^supprimer-article/([0-9]+)$ index.php?action=supprimer-article&id=$1







