h1 {
    text-align: center;
}

body {
    background-image: url("../img/cruise-ship-1253275_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.readingFinished {
    max-width: 50%;

}

.news {
    margin: auto;
}

a {
    text-decoration: none;
    color: blue;
}

strong {
    font-weight: bold;
}

#tinyMCE {
    width: 80%;
}


.contenuPage {
    margin-top: 160px;
}

.deletedComment {
    display: none;
}

.loggedBar {
    margin-bottom: 50px;
    z-index: 2;
    padding: 10px;
}

.admin ul li {
    list-style-type: none;
    padding: 5px;
}

.mainNavbar {
    /*margin-top:150px;*/
    z-index: 1;
}


.nav-link {
    padding: 0;
}

.admin ul {
    display: flex;

}



.err404
{
    margin-top: 300px;
    /*padding-top: 0;*/

}

.img404 {
    max-width: 50%;
}

.newEditPost {
    margin-top: 150px;
    margin-bottom: 50px;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style-type: none;
}

footer {
    margin-top: 20px;
}